// HERO //
.hero {
  height: 100dvh;
  height: 100vh;
  background-color: #ff4a00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -60px;

  @media (min-width: 769px) {
    margin-top: -3.3rem;
  }

  .logo-top {
    margin-left: 2rem;
    margin-bottom: 1rem;
    height: 5.7rem;
    @media (min-width: 769px) {
      margin-top: 0px;
    }
  }

  .logo-img {
    width: auto;
    height: 5.625rem;
    &--desk {
      margin-top: -4rem;
    }
    @media (min-width: 769px) {
      height: 10rem;
    }
  }

  .logo-bottom {
    width: auto;
    margin-right: 1.25rem;

    @media (max-width: 400px) {
      margin-top: -0.625rem; // -10px
    }
  }

  .hero-bottom-row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0.1rem;
    gap: 2rem;

    @media (min-width: 769px) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0 1rem;
    }
  }

  .band-img {
    width: 100%;
    max-width: 43.75rem;
    display: block;

    &--mobile {
      width: 25rem;
      margin: 0 auto;

      @media (max-width: 400px) {
        width: 75%;
      }
    }
  }
}
// HERO END //
