@import "../../styles/variables.scss";

.menu {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 139, 0.2);
  align-items: center;
  //FLYTTA RÄTT
  justify-content: flex-end;
  
  &__logo{
    font-family: "JazzFont", sans-serif;
    font-size: 2rem;
    color: yellow;
    text-decoration: none;
    margin: 0 60px 0 20px;
  }

  &__icon {
    > * {
      font-size: 24px;
      color: white;
    }
    
  }

  .menu {
    transition: width 0.5s ease;
    width: 0;
  }
  
  .expand.open {
    width: 300px;
  }

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 86px;
    margin: 0 0px;

    li {
      text-align: center;
      border-right: solid 1px $accent-color;

    }
  }
}

.title {
  font-family: "JazzFont", sans-serif; // Specifik font för titeln
  font-size: 2rem; // Anpassa storlek
}
