.socialmediagroup {
  &__container {
    display: flex;
    text-align: center;
    align-items: center;
    .icon {
      padding: 16px 16px 0;
      font-size: 2rem;
    }
  }
}

@media (min-width: 600px) {
  .socialmediagroup {
    &__container {
      .icon {
        padding: 10px 10px;
        font-size: 3rem;
      }
    }
  }
}
