@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Figtree", sans-serif;
  margin: 0;
}

.margin {
  &__bottom {
    &--1 {
      margin-bottom: 10px;
    }
  }
}

.flex {
  display: flex;
  &__col {
    display: flex;
    flex-direction: column;

    &--mobile-row {
      @media (min-width: 769px) {
        flex-direction: row;
      }
    }
  }
}
