@import './variables.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.margin {
  &__bottom {
    &--1 {
      margin-bottom: 10px;
    }
  }
}

.flex {
  display: flex;
  &__col {
    display: flex;
    flex-direction: column;

    &--mobile-row {
      @media (min-width: 769px) {
        flex-direction: row;
      }
    }
  }
}
