.hero {
  height: 100vh;
  margin-top: -60px;
  padding-top: 60px;
  background-color: #ff4a00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  .logo-top {
    display: flex;
    justify-content: flex-start;
    padding: 0 2rem;
    margin-top: -50px;
  }

  .hero-bottom-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 1rem;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
      padding: 0 0.1rem;
    }
    .logo-img {
      margin-top: -10px;
      margin-left: 10px;
    }
  }

  .band-img {
    max-width: 700px;
    width: 100%;
    display: block;
    &--mobile {
      width: 400px;
      margin: auto;
      margin-top: 3rem;
      @media (max-width: 400px) {
        width: 75%;
      }
    }
  }

  .logo-bottom {
    margin-right: 20px;
    width: auto;
    @media (max-width: 400px) {
      margin-top: -10px;
    }

    @media (max-width: 768px) {
      height: 155px;
    }
  }

  .logo-img {
    height: 160px;
    width: auto;

    @media (max-width: 768px) {
      height: 90px;
    }
  }
}
@media (min-width: 768px) {
  .gig {
    text-align: left;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--img {
      width: 480px;
      margin: auto;
      margin-top: 40x;
    }
  }
}
