.hero {
  height: 100vh;
  margin-top: -60px;
  padding-top: 60px;
  background-color: #ff4a00;
  text-align: center;

  .logo-top,
  .logo-bottom {
    font-size: 5rem;
    font-weight: bold;
    font-family: sans-serif;
  }

  .band-img {
    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
    display: block;
  }
}
