// INFO //
.info {
  background-color: #42a5f5;
  img {
    margin-top: -20px;
    width: 90%;
    margin: auto;
    @media (min-width: 769px) {
      max-width: 50%;
      margin: -60px 0;
      height: auto;
    }
  }
}
// INFO END //
