.section {
  //TODO variabel font
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 4rem;

  &__title {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    @media (min-width: 768px) {
      font-size: 6rem;
      text-align: left;
      margin: 0 20px 0 20px;
    }
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  // INFO //
  &.info {
    background-color: #42a5f5;
    > img {
      margin-top: -20px;
    }
  }
  // INFO END //
}
