// INFO //
.about {
  background-color: #42a5f5;
  .container {
    margin: 0 10px;
  }
  &__presstext {
    p {
      font-size: 14px;
      @media (min-width: 768px) {
        font-size: 22px;
      }
    }
    &--long {
      margin: auto;
      max-width: 800px;
      p {
        font-size: 18px;
        @media (min-width: 768px) {
          font-size: 28px;
        }
      }
    }
  }

  img {
    max-width: 100%;
    @media (min-width: 769px) {
      max-width: 60rem;
    }
  }
}
// INFO END //
