// Define colors
$primary-color: #4caf50; // Green
$secondary-color: #8d6e63; // Brown
$accent-color: #ffa726; // Orange

// Header styles
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0px;
  margin-top: 10px;
  &__title {
    h1 {
      margin-right: 50px;
      font-size: 3em;
      color: $primary-color;
      margin: 0;
      border: none;
    }
  }
  a {
    text-decoration: none;
  }

  .initvideo {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    &--hide {
      visibility: hidden;
    }
    &--music {
    }
  }
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    &__title {
      margin-left: 25px;
    }
    .initvideo {
      top: 40%;
      transform: translate(-50%, -40%);
    }
  }
}
