// Define colors
$primary-color: #4caf50; // Green
$secondary-color: #8d6e63; // Brown
$accent-color: #ffa726; // Orange

// Header styles
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  margin-top: 10px;
  a {
    text-decoration: none;
  }
  .title {
    font-size: 3em;
    color: $primary-color;
    margin: 0;
    border: none;
  }
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
