.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(248, 252, 45, 0.342); // Mörkblå med 80% opacitet
  padding: 0; /* Ta bort padding i grundläget */
  overflow: hidden;
  transition: height 0.5s ease, padding 0.5s ease; /* Animera både höjd och padding */
  z-index: 1000; /* Se till att footern ligger ovanpå andra element */

  &--hidden {
    height: 0; /* Göm footern */
    padding: 0; /* Ingen padding när footern är gömd */
  }

  &--visible {
    height: 100px; /* Synlig footern */
    // padding: 6px 0 24px 0; /* Lägg till padding när footern är synlig */
  }

  &__col {
    min-width: fit-content;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }

  &__contact {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #ff007f; /* Pink color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and size */

    &:hover {
      color: #ff9900; /* Orange color on hover */
      transform: scale(1.05); /* Increase size on hover */
    }
  }
  .flex--row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    div {
      display: flex;
    }
    svg {
      color: #0024fe;
      font-size: 60px;
      &:hover {
        color: #001aaf;
      }
    }
  }
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    &__col {
      max-width: fit-content;
      &:first-child {
        margin-left: 20px;
      }
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}
