$footer-bg: #000;
$primary-color: #4caf50;

.footer {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: $footer-bg;
  padding: 20px 0;

  &__col {
    max-width: fit-content;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}
@media (min-width: 600px) {
  .footer {
    height: 100px;
    flex-direction: row;
    &__col {
      max-width: fit-content;
      &:first-child {
        margin-left: 20px;
      }
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}
