.section {
  //TODO variabel font
  min-height: 90vh;
  min-height: 90dvh;
  padding-top: 1rem;
  padding-bottom: 4rem;
  @media (min-width: 768px) {
    min-height: 100vh;
    min-height: 100dvh;
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    @media (min-width: 768px) {
      font-size: 6rem;
      text-align: left;
      margin: 0 20px 0 20px;
    }
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}
