.section {
  //TODO variabel font
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 4rem;

  &__title {
    font-size: 2.4rem;
    font-weight: 300;
    margin: 0 auto -25px;

    @media (min-width: 768px) {
      font-size: 3rem;
      margin: 0 auto 0;
      padding-left: 20px;
    }
  }
  //TODO variabel this?? or is this used good?
  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  &--info {
    background-color: #deefdb;
  }

  &--music {
    text-align: center;
    background-color: #42a5f5;
    .player {
      iframe {
        width: 96%;
        min-height: 600px;
        margin: auto;
        margin-top: 40px;
        @media (min-width: 768px) {
          width: 80%;
          margin-top: 20px;
        }
      }
    }
  }

  &--live {
    background-color: #f2f2f2;
  }
}
