// Define colors
$primary-color: #4caf50; // Green
$secondary-color: #8d6e63; // Brown
$accent-color: #ffa726; // Orange

// Apply font and colors to the body
body {
  font-family: "Poppins", sans-serif;
  background-color: $secondary-color;
  color: white; // Adjust text color as needed
  margin: 0;
}

.body {
  max-height: 100vh;
}

.container {
  margin: 10px;
  height: 55vh;
}

@media (min-width: 600px) {
  .container {
    margin: 20px;
    height: 60vh;
  }
}
