// LIVE //
.live {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__image {
    width: 200px;
    display: block;
    margin: 1rem auto;

    &--mobile {
      width: 100%;
    }

    &--desktop {
      width: 510px;
      @media (min-width: 768px) {
        display: block;
        margin-left: 2rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
      margin-right: 2rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 50px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 1.5rem;
      bottom: 0;
      height: 1px;
      width: 0;
      background-color: black;
      transition: width 0.5s ease;
    }

    &:hover::after {
      width: calc(100% - 3rem);
    }
  }

  &__date,
  &__venue {
    font-weight: 400;
  }

  &__book {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 5px;
    max-width: 600px;
    margin: auto;
    p {
      margin: 0.5rem 0;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__divider {
    border: 1px solid black;
    width: 70%;
    margin: 1rem auto;
  }
}
// LIVE END //
