
  
.icon-container {
  display: flex;
  // justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.icon-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%; /* 4 kolumner */
  /* Specificera animation för varje ikon med fördröjning */
  // opacity: 0; /* Börja med opacity 0 för att skapa fade-in-effekt */
  animation: fade-in 0.5s ease-in-out forwards; 
  color: #bf10ff;
  :hover {
    cursor: pointer;
    color: white;
  }
}

.icon {
  margin: 0px 0px;
  font-size: 10rem; /* Justera ikonens storlek efter behov */
}
